/*--------------------------------------------------------------
  Ecommerce
----------------------------------------------------------------*/
.cs_shop_sidebar {
    background-color: #fff;
    padding: 40px 25px;
    box-shadow: 0px 4px 21px 1px rgba(48, 123, 196, 0.1);
    margin-right: 30px;
    border-radius: 10px;
    @media (max-width: 1700px) {
        margin-right: 0;
    }
}
.cs_shop_sidebar_widget {
    &:not(:last-child) {
        margin-bottom: 40px;
    }
}
.cs_shop_filter_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 10px;
    select {
        background-color: transparent;
        border: transparent;
        color: inherit;
        outline: none;
        cursor: pointer;
    }
    @media (max-width: 575px) {
        flex-direction: column-reverse;
    }
}
.cs_shop_sidebar_widget_title {
    font-size: 24px;
    line-height: 1.333em;
    margin-bottom: 18px;
}
.cs_shop_sidebar_tag_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -3px -3px -3px;
    list-style: none;
    padding: 0;
    a {
        font-size: 14px;
        line-height: 1.6em;
        border: 1px solid var(--secondary);
        padding: 4px 14px;
        display: inline-block;
        margin: 3px;
        border-radius: 20px;
        &:hover {
            color: #fff;
            background-color: var(--accent);
            border-color: var(--accent);
        }
    }
}
.cs_shop_search {
    position: relative;
    .cs_shop_search_input {
        border: 1px solid var(--ternary);
        transition: all 0.3s ease;
        color: var(--primary);
        background-color: transparent;
        border-radius: 10px;
        display: block;
        width: 100%;
        padding: 5px 10px 5px 40px;
        height: 46px;
        outline: none;

        &:focus {
            border-color: var(--primary);
        }
        &::placeholder {
            color: var(--secondary);
        }

        &:-ms-input-placeholder {
            color: var(--secondary);
        }

        &::-ms-input-placeholder {
            color: var(--secondary);
        }
    }
    .cs_shop_search_btn {
        position: absolute;
        top: 0;
        border: none;
        background: transparent;
        height: 46px;
        width: 40px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.cs_shop_sidebar_category_list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }
}

.cs_product_card.cs_style_1 {
    .cs_product_thumb {
        display: block;
        border-radius: 0px;
        overflow: hidden;
        margin-bottom: 15px;
        position: relative;

        img {
            width: 100%;
            border-radius: inherit;
        }
    }
    .cs_card_btns {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.3s ease;
        a {
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 6px;
            background-color: var(--accent);
            color: #fff;
            border-radius: 50%;
            transform: scale(0);
            opacity: 0;
            transition: all 0.5s ease;
            &:hover {
                background-color: #fff;
                color: var(--accent);
            }
        }
    }
    .cs_product_title {
        font-size: 26px;
        line-height: 1.333em;
        margin-bottom: 4px;
    }
    &:hover {
        .cs_card_btns {
            background-color: rgba(0, 0, 0, 0.4);
        }

        .cs_card_btns {
            a {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
    .cs_product_price {
        margin-bottom: 0;
    }
    .cs_present_price {
        color: var(--primary);
        font-weight: 500;
    }
    .cs_discunt_price {
        margin-left: 8px;
        text-decoration: line-through;
        color: var(--secondary);
    }
}
.cs_single_product_nav {
    .slick-list {
        margin-left: -10px;
        margin-right: -10px;
    }
    .slick-slide {
        padding: 0 10px;
    }
}
.cs_single_product_thumb_mini {
    cursor: pointer;
    img {
        width: 100%;
        border-radius: 10px;
        border: 1px solid transparent;
        transition: all 0.3s ease;
    }
}
.swiper-slide-thumb-active {
    .cs_single_product_thumb_mini img {
        border: 1px solid var(--accent);
    }
}
.cs_single_product_nav {
    margin-top: 20px;
    .slick-current {
        img {
            border-color: var(--accent);
        }
    }
    .slick-slide:not(.slick-current) {
        cursor: pointer;
    }
}
.cs_product_thumb_slider {
    border-radius: 10px;
    overflow: hidden;
    .swiper-button-next,
    .swiper-button-prev {
        color: var(--accent);
        transform: scale(0.7);
        transition: all 0.3s ease;
        &:hover {
            opacity: 0.7;
        }
    }
}
.cs_product_nav_slider {
    margin-top: 10px;
}
.cs_single_product_thumb_item {
    overflow: hidden;
    img {
        width: 100%;
    }
}
.cs_quantity {
    flex: none;
    position: relative;
    width: 112px;
    height: 50px;
    transition: all 0.3s ease;
}
.cs_quantity_input {
    height: 100%;
    width: 100%;
    border: 1px solid #999696;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 30px 5px 20px;
    outline: none;
    display: flex;
    align-items: center;
    &:focus {
        border-color: #fff;
    }
}
.cs_quantity_button {
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
    padding: 2px 9px;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    right: 1px;
    &.cs_increment {
        top: 7px;
    }
    &.cs_decrement {
        bottom: 7px;
    }
    &:hover {
        color: var(--accent);
    }
}
.cs_quantity_buttons {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 2px);
    width: 34px;
    background-color: var(--gray);
    border-radius: 5px;
}
.cs_quantity_and_btn {
    display: flex;
    align-items: center;
    gap: 20px;
}
.cs_product_btn {
    display: inline-flex;
    justify-content: center;
    padding: 12px 45px;
    background-color: var(--accent);
    color: #fff;
    border-radius: 1.8em;
    outline: none;
    border: none;
    white-space: nowrap;
    font-weight: 500;
    &:hover {
        opacity: 0.8;
        color: #fff;
    }
    &.cs_color1 {
        background-color: var(--primary);
        &:hover {
            background-color: var(--accent);
        }
    }
    @media (max-width: 380px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    &.cs_disable {
        opacity: 0.6;
        pointer-events: none;
    }
}
.cs_single_product_info {
    list-style: none;
    padding: 0;
    margin: 0;
    b {
        font-weight: 600;
        color: var(--primary);
    }
}
.cs_single-product-details {
    line-height: 1.8em;
    padding-left: 50px;
    @media (max-width: 991px) {
        padding-left: 0;
        padding-top: 40px;
    }
    h2 {
        font-size: 32px;
        margin-bottom: 8px;
    }
    .cs_single_product_price {
        font-size: 20px;
        line-height: 1.333em;
    }
    .cs_single-product-details-text {
        p {
            margin-bottom: 18px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .cs_single_product-price_review {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.cs_product_tab {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: var(--primary);
    gap: 10px 52px;
    font-weight: 500;
    font-size: 18px;
    @media (max-width: 575px) {
        gap: 10px 30px;
        font-size: 16px;
    }
    li {
        a {
            display: inline-block;
            position: relative;
            padding-bottom: 5px;
            &::before {
                content: "";
                position: absolute;
                height: 2px;
                width: 0;
                transition: all 0.3s ease;
                background-color: var(--accent);
                bottom: 0;
            }
        }
        &.active {
            a {
                color: var(--accent);
                &::before {
                    width: 100%;
                }
            }
        }
    }
}
.cs_product_meta_info {
    border-top: 1px solid var(--border);
    padding-top: 40px;
    strong {
        font-weight: 500;
        color: var(--primary);
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        strong {
            font-weight: 700;
        }
    }
}
.cs_input_rating_wrap {
    display: flex;
    align-items: center;
    p {
        margin: 0 14px 0 0;
    }
}
.cs_client_review {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    .cs_review_media {
        display: flex;
    }
    .cs_review_media_right {
        padding-top: 6px;
    }
    .cs_review_media_thumb {
        flex: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 15px;
        align-items: center;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .cs_review_text {
        flex: none;
        width: 100%;
        line-height: 1.8em;
        margin-top: 30px;
    }
    .cs_review_posted_by {
        margin-left: 65px;
        padding-top: 22px;
    }
}
.cs_client_review_list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        &:not(:last-child) {
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid var(--border);
        }
    }
}

.cs_rating_stars {
    display: flex;
    gap: 2px;
    margin-bottom: 5px;
}

.cs_star_icon {
    color: var(--accent-color);
    width: 16px;
    height: 16px;
}

.cs_star_icon.half {
    position: relative;
    overflow: hidden;
}

.cs_star_icon.half:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.cs_cart_table_media {
    display: flex;
    align-items: center;
    gap: 20px;
    @media (max-width: 991px) {
        gap: 10px;
    }
    img {
        width: 85px;
        border-radius: 5px;
        flex: none;
        @media (max-width: 991px) {
            width: 50px;
        }
    }
    h3 {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.2em;
        margin: 0;
        font-family: var(--secondary-font);
        @media (max-width: 991px) {
            font-size: 16px;
        }
    }
}
.cs_cart-table-close {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    &:hover {
        color: red;
    }
}
.cs_cart_table {
    @media (max-width: 991px) {
        min-width: 540px;
    }
    &.cs_size1 {
        min-width: 900px;
    }
    th {
        background-color: var(--gray);
        color: var(--primary);
        border: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.6em;
        padding: 16px 20px;
        @media (max-width: 991px) {
            padding: 10px;
        }
    }
    td {
        border-top: none;
        border-bottom: 1px solid var(--border);
        padding: 20px;
        @media (max-width: 991px) {
            padding: 10px;
        }
    }
    @media (max-width: 991px) {
        .cs_quantity {
            width: 80px;
        }
        .cs_quantity_input {
            padding: 5px 35px 5px 10px;
        }
    }
}
.cs_table_with_border {
    border: 1px solid var(--border);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 25px;
    table {
        margin: 0;
    }
    tr {
        &:last-child {
            td {
                border-bottom: none;
            }
        }
    }
    th {
        border-bottom: 1px solid var(--border);
    }
}

.cs_cart-offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    .cs_shop-input {
        min-width: 160px;
        border-color: var(--accent);
    }
    .cs_cart-offer-col {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    @media (max-width: 450px) {
        > *,
        .cs_coupon-doce-form {
            width: 100%;
        }
        .cs_product_btn {
            width: 100%;
        }
    }
}
.cs_coupon-doce-form {
    display: flex;
    gap: 10px;
    input {
        background-color: transparent;
        padding: 9px 15px;
        border: 1px solid var(--accent);
        border-radius: 5px;
        height: 50px;
        width: 186px;
        outline: none;
        transition: all 0.3s ease;
        &::placeholder {
            color: var(--secondary);
        }

        &:-ms-input-placeholder {
            color: var(--secondary);
        }

        &::-ms-input-placeholder {
            color: #fff;
        }
        &:focus {
            border-color: var(--secondary);
        }
    }
    @media (max-width: 450px) {
        flex-wrap: wrap;
        input,
        button {
            width: 100%;
        }
    }
}
.cs_shop-card {
    border: 3px solid var(--border);
    border-radius: 15px;
    padding: 23px 30px 30px;
    table {
        border-bottom: 1px solid var(--border);
        margin: 0;
    }
    h2 {
        font-size: 30px;
        line-height: 1.167em;
        margin-bottom: 21px;
    }
    td {
        padding: 15px 10px;
        font-weight: 600;
        color: var(--primary);
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
    .form-check {
        margin-bottom: 6px;
    }
}
.cs_checkout-alert {
    a {
        color: var(--accent);
        &:hover {
            text-decoration: underline;
        }
    }
}
.cs_shop-side-spacing {
    padding-left: 25px;
    @media (max-width: 1199px) {
        padding-left: 0;
    }
}
.cs_checkout-title {
    font-size: 30px;
    line-height: 1.167em;
    margin-bottom: 0px;
}
.cs_shop-input {
    display: block;
    width: 100%;
    background: transparent;
    border: 1px solid var(--border);
    padding: 11px 15px;
    border-radius: 15px;
    outline: none;
    transition: all 0.4s ease;
    margin-bottom: 20px;
    min-height: 50px;
    &:focus {
        border-color: var(--primary);
    }
}
.cs_shop-label {
    display: block;
    margin-bottom: 8px;
}
.cs_payment_text {
    font-size: 14px;
    line-height: 1.6em;
    a {
        color: var(--accent);
    }
}
.cs_order-summery {
    background-color: var(--primary);
    list-style: none;
    padding: 25px 30px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    p {
        font-size: 14px;
        line-height: 1.6em;
        margin-bottom: 5px;
        color: var(--border);
    }
    h3 {
        margin: 0;
        font-weight: 600;
        font-size: 16px;
        color: #fff;
    }
    li {
        &:not(:last-child) {
            border-right: 1px solid rgba(255, 255, 255, 0.3);
            padding-right: 55px;
            margin-right: 55px;
            @media (max-width: 991px) {
                border-right: 0;
                padding-right: 0;
                margin-right: 0;
            }
        }
        @media (max-width: 991px) {
            width: 100%;
            &:not(:last-child) {
                border-bottom: 1px solid var(--border);
                padding-bottom: 15px;
                margin-bottom: 15px;
            }
        }
    }
}
.cs_header_cart {
    display: inline-block;
    position: relative;
    &:hover {
        color: var(--accent);
    }
}
.cs_header_cart_label {
    position: absolute;
    background-color: var(--accent);
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    padding: 0 2px;
    min-width: 17px;
    text-align: center;
    border-radius: 1.6em;
    left: 11px;
    bottom: -9px;
    color: #fff;
}

.st-amount-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #amount {
        border: none;
        padding: 0;
        color: var(--secondary);
        width: 100%;
        background-color: transparent;
        outline: none;
    }

    .st-filter-btn {
        border: 1px solid var(--border);
        background: transparent;
        color: var(--primary);
        font-weight: 500;
        padding: 2px 22px;
        outline: none;
        border-radius: 5px;
        display: inline-flex;
        justify-content: center;
        cursor: pointer;
        line-height: 1.5em;

        &:hover {
            background-color: var(--accent);
            border-color: var(--accent);
            color: #fff;
        }
    }
}

.ui-widget.ui-widget-content {
    border: 0;
    margin-bottom: 15px;
    background-color: var(--border);
    margin-top: 5px;
}

.ui-widget-header {
    background: var(--accent);
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 1px solid var(--accent);
    background: var(--accent);
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid var(--accent);
    background: var(--accent);
    outline: none;
}

.ui-slider-horizontal {
    height: 6px;
    border-radius: 3px;
}

.ui-slider .ui-slider-handle {
    top: -5px;
    height: 16px;
    border-radius: 3px;
    width: 10px;

    &:focus {
        outline: none;
    }
}
.ui-slider-horizontal .ui-slider-range {
    border-radius: 0;
}

.slick-slide > div {
    display: flex;
    flex-direction: column;
}
// .cs_rating {
//     width: 136px;
//     height: 24px;
//     position: relative;
//     > * {
//         position: absolute;
//         height: 100%;
//         width: 100%;
//         left: 0;
//         top: 0;
//     }
//     .cs_rating_bg {
//         opacity: 0.2;
//     }
//     .cs_rating_percentage {
//         width: 50%;
//     }
//     &.cs_size_sm {
//         width: 83px;
//         height: 15px;
//         position: relative;
//         font-size: 12px;
//         i {
//             &:not(:last-child) {
//                 margin-right: 4px;
//             }
//         }
//         .cs_rating_bg,
//         .cs_rating_percentage {
//             display: flex;
//             overflow: hidden;
//         }
//         .cs_rating_bg {
//             opacity: 1;
//         }
//     }
// }
.cs_shop_form_field {
    width: 100%;
    display: block;
    border: 1px solid var(--border);
    padding: 11px 20px;
    outline: none;
    transition: all 0.4s ease;
    background-color: transparent;
    &:focus {
        border-color: var(--primary);
    }
}
.form-check-input {
    box-shadow: none;
    border-color: var(--border);
    background-color: transparent;
}
.form-check-input:focus {
    box-shadow: none;
    border-color: var(--border);
}
.form-check-input:checked {
    border: var(--accent);
    background-color: var(--accent);
    box-shadow: none;
}
.cs_product_not_found {
    text-align: center;
    border: 1px solid var(--border);
    padding: 40px 0;
    border-radius: 10px;
    b {
        font-weight: 600;
        color: var(--primary);
    }
}
