/*--------------------------------------------------------------
## Color Variable
----------------------------------------------------------------*/
:root {
    --white: #ffffff;
    --primary: #274760;
    --secondary: rgba(39, 71, 96, 0.6);
    --accent: #307bc4;
    --ternary: #b7b7b7;
    --border: #eaeaea;
    --gray: #f7f7f7;
}
