/*--------------------------------------------------------------
19. Departments
----------------------------------------------------------------*/
.cs_departments.cs_style_1 {
    padding-top: 100px;
    position: relative;
    .cs_department_list {
        position: relative;
        z-index: 1;
        padding: 0 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 25px 0px;
    }
    .cs_department_list_item {
        width: 16.66667%;
        padding: 0 10px;
        @media (max-width: 1400px) {
            width: 33.333333%;
        }
        @media (max-width: 767px) {
            width: 50%;
        }
        @media (max-width: 400px) {
            width: 100%;
        }
    }
    .cs_section_heading {
        position: relative;
        z-index: 1;
    }
    .cs_department {
        flex: 1;
        text-align: center;
        padding: 20px;
        min-height: 290px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 1700px) {
            min-height: 250px;
        }
        @media (max-width: 575px) {
            min-height: 200px;
            padding: 15px;
        }
        &:hover {
            transform: translateY(-20px);
            background-color: var(--accent);
            img {
                filter: brightness(0) invert(1);
            }
            .cs_heading_color {
                color: #fff;
            }
        }
    }
    svg {
        transition: all 0.4s ease;
    }
    .cs_department_title {
        margin-top: 20px;
        transition: all 0.4s ease;
    }
    .cs_departments_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 122px);
    }
}
